<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
     <h1>Health Care Assistant</h1>
	 <p>Team SEI ALL Stars</p>
	 <p>Team Member:</p>
	 <li>Xiaolei Du , xidu@ucsd.edu </li>
	 <li>David He , dyhe@ucsd.edu </li>
	 <li>Derek Chen , dec001@ucsd.edu </li>
	 <p>We envision to create a product that can facilitate with the health and life of people, and this is how our personal health care assistant comes about. It is a customized service that can help people get notification and information about their own health based on the data stored in the website</p>
  </body>
  <input type="button" id = 'logbtn' onclick="window.location.href = '/login'" value="Go Back"/>
</html>