<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Product Features</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
     <h1>Health Care Assistant Features</h1>
	 <ol>
	 <li>Review system for users to evaluate hospitals/institutions</li>
	 <li>Reminder system to send email with link to calender to remind about events</li>
	 <li>Online reservation system to reserve a meeting with your doctor</li>
	 <li>Online inquiry system if you need to ask a quick question to your doctor</li>
	 <li>Online summary/analysis for the health data of the user</li>
	 </ol>
  </body>
  <input type="button" id = 'logbtn' onclick="window.location.href = '/login'" value="Go Back"/>
</html>