<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pricing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
     <h3>Our different price plans</h3>
	 <p>The basic plan we have includes all the functions such as reservation and basic data management/analysis</p>
	 <p>For the prime membership, the user will be free of advertiesment from website and can access more detailed analysis of his/her condition based on the data</p>
	 <li>Basic: Free of charge, comes with the basic functions</li>
	 <li>Prime: $10 a month, and $100 per year. Comes with more analysis</li>
	 <li>Free trial of Prime membership for one month</li>
	 <p>If you have any question concerning the plans, feel free to contact us</p>
  </body>
  <input type="button" id = 'logbtn' onclick="window.location.href = '/login'" value="Go Back"/>
</html>